@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color:#F3E0E2;
        margin: 100px 100px;
}
form {
display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}
.first h1 {
    font-family: 'Poppins', sans-serif;
    text-align: center;
}
.first { 
    background-color: #FFFFFF;
        height: 70vh;
        width: 70vh;
}
.second {
    background-color: #FF445D;
}
.links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
ul li a { 
    text-decoration: none;
}
ul li { display: inline;
    list-style-type: none;
    margin: 20px;
}
.p1 { text-align: center;
    margin-top: 30px;
}

#email {
border: 1px solid gray;
padding: 10px 10px 10px 10px;
margin: 10px 20px 20px 120px;
width: 250px;
border-radius: 4px;
}

#password {
    border: 1px solid gray;
    padding: 10px 10px 10px 10px;
    margin: 10px 20px 20px 120px;
    width: 250px;
    border-radius: 4px;
}
.fyp {
text-align: center;
margin-top: 15px;
}
.login-btn {
 display: flex;
 justify-content: center;
 align-items: center;
 margin-top: 20px;
}

.r {
    height: 70vh;
    width: 70vh;
}

.second h1 {
    position: absolute;
    top: 30%;
   left: 50%;
}
.second h1 {
    font-family: 'Poppins', sans-serif;
}
.second p {
    position: absolute;
    top: 45%;
    left: 50%;
}
.second p {
    font-family: 'Poppins', sans-serif;
}