@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background: #f3e0e2;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
}
form { text-align: center;
    background: white;
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
}
.container {
        background: white;
        width: 750px;
        border-radius: 10px;
        box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.25);
        position: relative;
        overflow: hidden;
}
.form-container {
    position: relative;    
    height: 100%;
    width: 50%;
    z-index: 2;
}
.right-container {
    position: absolute;
    height: 100%;
    width: 50%;
    top: 0;
    left: 50%;
}
.right {
    background: #ff416c;
    background: linear-gradient(to right,#FF4A2B,#ff416c);
    color: white;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%; 
}
.right-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1px 40px;
    text-align: center;
    position: absolute;
    height: 100%;
    width: 50%;
    right: 0;
}
span {
    font-size: small;
}
a {
    text-decoration: none;
    color: black;
    font-size: small;
    padding: 15px 1px;
}
#login {
    border-radius: 20px;
    border: 1px solid #ea331e;
    background: #FF4A2B;
    font-weight: bold;
    padding: 12px 40px;
    margin: 10px;
    color: white;
    cursor: pointer;
}
input {
    background: white;
    border: none;
    padding: 15px 15px;
    margin: 8px 2px;
    width: 100%;
}
p {
    font-size: large;
    font-weight: 500;
    letter-spacing: 0.5px;
    margin: 20px 1px 30px;
}
